.header {
    margin-bottom: 32px;
    padding: 8px 0;
    background-color: rgb(6, 65, 61);

    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__center {
        display: flex;
        align-items: center;
    }

    &__button {
        text-decoration: none;
        color: inherit;
        padding: 8px 16px;
        border-radius: 16px;
        background: white;
        transition-duration: .3s;
        border: 1px solid rgb(239, 217, 204);

        &:hover {
            background: rgb(239, 217, 204);
            transition-duration: 0.3s;
        }

        &:not(:last-child) {
            margin-right: 8px;
        }
    }
    
}

.header__logo{
    border: 2px solid rgb(239, 217, 204);
    border-radius: 10px;
}