.mx-auto{
    border: 2px solid rgb(6,65,61);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.mt-4{
    margin-bottom: 10px;
}

.mx-auto input[type=text]{
    border: 1px solid;
    width: 100%;
    min-height: 50px;
    padding: 10px;
    margin-top: 20px;
}

.mx-auto textarea{
    border: 1px solid;
    width: 100%;
    min-height: 50px;
    padding: 10px;
    margin-top: 20px;
}

.mx-auto input[type=number]{
    border: 1px solid;
    width: 100%;
    min-height: 50px;
    padding: 10px;
    margin-top: 20px;
}

.my-4{
    padding: 10px 15px;
    background: rgb(6,65,61);
    color: white;
    width: 100px;
    border-radius: 10px;
    border: 1px solid rgb(6,65,61);
    transition-duration: .3s;
}

.my-4:hover{
    color: rgb(6,65,61);
    background-color: white;
    transition-duration: .3s;
}